body{
	background: linear-gradient(to right, rgb(81, 110, 130) ,rgb(2, 6, 50) );
	text-align: center;
	font-family: var(--pix-body-font),sans-serif!important;
	color: white;

  }   
  
.logo {
	width: 100px;
	pointer-events: none;
	border:5px solid rgb(11, 2, 142);
	 border-radius: 50%;

  }



  li,span {
    list-style: none;
    padding: 0 25px;
  }
  
  a{
    text-decoration: none;
    font-weight: bold;
  }
  
  a:visited {
    color: rgb(255, 255, 255);
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
  }
  
  ul {
    display: flex;
  }
  
  main a {
      padding: 10px 40px;
      border-radius: 4px;
  }
  

  .title{
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: Montserrat;
    font-weight: 800;
    line-height: 70px;
       
   }


   .title:hover {
   
    color: rgb(83, 117, 255);
  }
   .btn {
    padding: 10px 25px;
    cursor: pointer;
    box-sizing: inherit;
    white-space: normal;
    font-weight: 700;
    text-align: -webkit-match-parent;
    background-color: rgb(83, 117, 255);
    color:white;
    border-radius: 10px;
    padding: 10px 10px;
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
    transition:all 0.2s ease-in;
    border: 2px solid rgb(5, 11, 92);
  }
  
  .btn:hover {
    background-color:white;
    color: rgb(83, 117, 255);
  }



  .btn1 {
    padding: 10px 25px;
    cursor: pointer;
    box-sizing: inherit;
    white-space: normal;
    font-weight: 700;
    text-align: -webkit-match-parent;
    background-color: rgb(83, 117, 255);
    color:white;
    border-radius: 10px;
    padding: 10px 10px;
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
    transition:all 0.2s ease-in;
    border: 2px solid rgb(5, 11, 92);
  }
  
  .btn1:hover {
    background-color:white;
    color: rgb(83, 117, 255);
  }
  
  .navbar-collapse{
    list-style-type: none;
    justify-content: center; 
    font-size: large;
  }
  
  .navbar-collapse li a {
    color: white;
    text-decoration: none;
  }
  
  .navbar-collapse li :hover{
    color:rgb(248, 61, 101);
  }
  
  .header{
    text-align: center;
    background-color: rgba(2, 6, 50, 0.363);
  }

  .footer{
    text-align: center;
    background-color: rgba(2, 6, 50, 0.479);
  }

  .list{
    margin-left: 10%;
    margin-right: 10%;
  }