body{
	background: linear-gradient(to right, rgb(87, 128, 155) ,rgb(5, 11, 71) );
	text-align: center;
	font-family: var(--pix-body-font),sans-serif!important;
	color: white;

  }   

.logo {
  width: 100px;
  pointer-events: none;
  border:5px solid rgb(11, 2, 142);
    border-radius: 50%;

  }

  li,span {
    list-style: none;
    padding: 0 25px;
  }
  
  a{
    text-decoration: none;
    font-weight: bold;
  }
  
  a:visited {
    color: rgb(255, 255, 255);
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
  }
  
  ul {
    display: flex;
  }
  
  main a {
      padding: 10px 40px;
      border-radius: 4px;
  }

.btn {
  padding: 4px 8px;
  cursor: pointer;
  box-sizing: inherit;
  white-space: normal;
  font-weight: 700;
  text-align: -webkit-match-parent;
  background-color: rgb(108, 137, 249);
  color:white;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: none;
  transition:all 0.2s ease-in;
  border: 2px solid rgb(5, 11, 92);
  font-size: large;

}

.btn:hover {
  background-color:white;
  color: rgb(83, 117, 255);

}

h2,h1{
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: Montserrat;
    font-weight: 800;
    line-height: 70px;
       
   }


h2:hover,h1:hover {
    color: rgb(83, 117, 255);

}

.list{
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: Montserrat;
     
 }


.list:hover {
  color: rgb(255, 83, 129);

}

.header{
  text-align: center;
  background-color: rgba(2, 6, 50, 0.621);
}